# package directories
node_modules
package-lock.json

# package directories in test
_test/node_modules
_test/package-lock.json

# Serverless directories
.serverless

# Mac OS Files
*.DS_Store
.AppleDouble
.LSOverride
._*
